<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            NZXT
        </title>
        <link href="/php-ecommerce/static/user/css/authentication-style.css" rel="stylesheet">
        <link href="/php-ecommerce/static/main/css/main-style.css" rel="stylesheet">
        <link href="/php-ecommerce/static/main/css/icon-style.css" rel="stylesheet">
    </head>
    <body>
	    {%block content%}
        {%endblock%}

        {%block scripts%}
        {%endblock%}
    </body>
</html>