<header class="flex-row">
    <img src="/php-ecommerce/static/main/img/logos/nzxt-1-violet.svg" alt="" class="logo">

    <nav id="header__nav-link" class="flex-row">
        <ul class="nav__links flex-row">
            <li class="link"><a href="">Store</a></li>
            <li class="link"><a href="">Prebuilt</a></li>
            <li class="link"><a href="">Components</a></li>
            <li class="link"><a href="">Peripherals</a></li>
            
        </ul>

    </nav>

    <nav id="header__nav-btn" class="flex-row">
        <ul class="nav__btns flex-row">
            <li class="flex-row">
                <input id="search-input" type="text" name="search" placeholder="Search a product" >
                <label for="search-input">
                    {%include 'regular-search.svg'%}
                </label>
            </li>

            <li class="btn">
                <a href="/php-ecommerce/user-auth/signin-view.php/">Sign in</a>
                {%include 'solid-user.svg'%}
            </li>

            <li class="btn">
                <a href="#">My Cart</a>
                {%include 'regular-cart.svg'%}
                
            </li>
            
        </ul>

    </nav>

</header>