{%extends "auth-base.html"%}


{%block content%}

<div class="container">
    
    <form method="POST" action="{{url}}">
        <a class="logo" href="/php-ecommerce/">
            <img src="/php-ecommerce/static/main/img/logos/nzxt-1-black.svg" alt="">
        </a>

        <div class="line"></div>

        <div class="input-group">
            <label for="username-id">Username</label>
            <input id="username-id" name="username" type="text" placeholder="Enter your username">
        </div>
        <div class="input-group">
            <label for="username-id">Password</label>
            <input id="password-id" name="password" type="text" placeholder="Enter your password">
        </div>

        <div class="form__link-middle">
            <div class="input-group row">
                <input id="remember-me-id" name="remember-me" type="checkbox">
                <label for="remember-me-id">Remember Me</label>
            </div>

            <a href="">Forgot Password?</a>
        </div>

        <input class="link-btn" type="button" value="Sign In">

        <div class="form__link-bottom">
            <span>Not a member? <a href="{{url_sign_up}}">Create an account</a></span>
        </div>
    </form>

</div>



{%endblock%}

{%block scripts%}
{%endblock%}